
body {
    width: 70%;
    margin: auto;
    font-family: 'Joan', serif;
    margin-top: 50px;
}

h1 {
    font-size: 25px;
}

p {
    line-height: 1.6;
    margin-bottom: 30px;
}

span {
    color: blue;
}